.Successes{
    width: 1200px;
    margin: 20px auto;
    background: #fff;
    height: 800px;
}

.Successes>.state {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #ddd;
}
.Successes>.state>.stateInfo{
  text-align: center;
}
.Successes>.state>.stateInfo{
  width: 600px;
  margin: 0 auto;
  height: 180px;
}
.Successes>.state>.stateInfo>div{
  color: #4091fb;
  display: inline-block;
  text-align: left;
  vertical-align:middle;
}
.Successes>.state>.stateInfo>div>p{
  color: #333;
}
.Successes>.state>.stateInfo span{
  padding-top: 30px;
  color: #4091fb;
}
/* 合同所有信息开始 */
.contractInfo{
    border-top:1px solid #ccc;
    padding: 30px 10px 0 20px;
}
.contractInfo .first{
    width: 350px;
    background: #f9f7f7;
    padding: 20px;
    height: 265px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}
.first dd:nth-child(1) h3{
    color:#4091fb;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.first dd:nth-child(2) p{
    padding-top: 10px;
}
.first dd:nth-child(2) p span:nth-child(2){
    color: #666;
}
.first dd:nth-child(2) p a{
    padding-left: 50px;
    color:#4091fb;
}
.first dd:nth-child(3) p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.first dd:nth-child(4) b{
    float: left;
}
.first dd:nth-child(4) p:nth-child(1){
    float: right;
}
.first dd:nth-child(4) ul{
    float: left;
    height: 50px;
}
.first dd:nth-child(4) ul li a{
    padding-left: 170px;
    line-height: 30px;
}



.contractInfo .second{
    width: 330px;
    background: #f9f7f7;
    padding: 20px;
    height: 265px;
    float: left;
    margin-right: 20px;
}
.second dd:nth-child(1) h3{
    color:#4091fb;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.second dd:nth-child(2) p{
    padding-top: 10px;
}
.second dd:nth-child(2) p span:nth-child(2){
    color: #666;
}
.second dd:nth-child(3){
    padding-top: 30px;
}
.second dd:nth-child(2) p a{
    padding-left: 110px;
    color:#4091fb;
}
/* .second dd:nth-child(3) p{
    padding-top: 10px;
    padding-bottom: 10px;
} */
.second dd:nth-child(3) b{
    padding-top: 10px;
    float: left;
}
.second dd:nth-child(3) dl{
    display: flex;
    padding-top: 10px;
}
.second dd:nth-child(3) dl dd p a{
    padding-left: 50px;
}


.contractInfo .third{
    width: 330px;
    background: #f9f7f7;
    padding: 20px;
    height: 265px;
    float: left;
    margin-right: 5px;
}
.third dd:nth-child(1) h3{
    color:#4091fb;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.third dd:nth-child(3){
    padding-top: 30px;
}
.third dd:nth-child(2) p{
    padding-top: 10px;
}
.third dd:nth-child(2) p span:nth-child(2){
    color: #666;
}
.third dd:nth-child(2) p a{
    padding-left: 110px;
    color:#4091fb;
}
/* .third dd:nth-child(3) p{
    padding-top: 10px;
    padding-bottom: 10px;
} */
.third dd:nth-child(3) b{
    padding-top: 10px;
    float: left;
}
.third dd:nth-child(3) dl{
    display: flex;
    padding-top: 10px;
}
.third dd:nth-child(3) dl dd p a{
    padding-left: 50px;
}
/* 底部按钮 */
.btns{
    clear: both;
    margin: 10px auto;
    /* width: 516px; */
    text-align: center;
    padding-top: 20px;
}
/* 修改 */
.oneInfo{
    width: 330px;
    background: #f9f7f7;
    padding: 20px;
    height: 265px;
    float: left;
    margin-right: 20px;
    margin-left: 5px;
}
.oneInfo .infoss{
    color: #4091fb;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
#oneInfos li:nth-child(1) {
    padding-top: 10px;
}
#oneInfos li:nth-child(2) {
    padding-top: 10px;
}
#oneInfos li:nth-child(3) {
    padding-top: 10px;
}
#oneInfos li:nth-child(4) {
    padding-top: 10px;
}
