.EnterprisePayments,.EnterpriseRegisterSuccs
  position relative
  clear both
  width 1200px
  margin 20px auto
  background #fff
  height auto
  .payment-operate
    clear both
    border-top 1px solid #ddd
    .tips
      width 500px
      text-align center
      font-weight bold
      color #22a7ea
      font-size 14px
      margin 0 auto
      padding-top 40px
    .payment-content
      padding 40px 0
      width 570px
      margin 0 auto
      .payment-success
        width 600px
        margin 0 auto
        height 180px
        text-align center
        .image
          color #22a7ea
          display inline-block
          text-align left
          vertical-align middle
        .success-tips
          color #333
          display inline-block
          text-align left
          vertical-align middle
          margin-left 30px
          span
            padding-top 30px
            color #22a7ea
      .sign-times
        width 560px
        margin 0 auto
        p
          color #22a7ea
          font-size 16px
          font-weight bold

      .edit-btn
        margin 30px 0 0 150px
      .payment-info
        position relative
        padding-bottom 25px
        width 550px
        span
          margin-right 20px
          font-size 14px
          color #424242
          width 150px
          display inline-block
          text-align right
   .enterprise-certificate
     width 860px
     height 500px
     margin 0 auto
     background #fafafa
     .certificate-content
       width 820px
       height 460px
       background #fff
       .left-side
         .right-card-content
           margin 50px 0 0 175px



