.EnterprisePayments,.EnterpriseRegisterSuccs
  position relative
  clear both
  width 1200px
  margin 20px auto
  background #fff
  height auto
  padding-bottom 30px
  .payment-operate
    clear both
    border-top 1px solid #ddd
    .tips
      width 500px
      text-align center
      font-weight bold
      color #22a7ea
      font-size 14px
      margin 0 auto
      padding-top 40px
    .payment-content
      padding 40px 0
      width 570px
      margin 0 auto
      .payment-success
        width 600px
        margin 0 auto
        height 180px
        text-align center
        .image
          color #22a7ea
          display inline-block
          text-align left
          vertical-align middle
        .success-tips
          color #333
          display inline-block
          text-align left
          vertical-align middle
          margin-left 30px
          span
            padding-top 30px
            color #22a7ea
      .sign-times
        width 560px
        margin 0 auto
        p
          color #22a7ea
          font-size 16px
          font-weight bold

      .edit-btn
        margin 30px 0 0 150px
      .payment-info
        position relative
        padding-bottom 25px
        width 550px
        span
          margin-right 20px
          font-size 14px
          color #424242
          width 150px
          display inline-block
          text-align right
   .enterprise-certificate
     position relative
     width 860px
     height 460px
     margin 0 auto
     background #f5f5f5
     padding-bottom 40px
     .certificate-content
       position relative
       width 820px
       background #fff
       height 460px
       top 20px
       margin 0 auto
       .left-side
         display inline-block
         width 450px
         height 250px
         vertical-align bottom
         margin-left 30px
         margin-top 80px
         .card
           width 520px
           height 260px
           display inline-block
         .right-card-content
           margin 50px 0 0 175px
           .right-line
             span
               color #666
               display inline-block
               height 40px
        .right-side
          display inline-block
          vertical-align bottom
          width 250px
          height 250px
          margin-left 30px
          .right-content
            img
              position relative
              left 20px
              top 20px
  .certification-book
    clear both
    position relative
    margin 30px auto 50px auto
    width 1000px
    height 200px
    -moz-box-shadow 2px 2px 5px 5px #e3e2e2
    box-shadow 2px 2px 5px 5px #e3e2e2
    .bg-png
      width 120px
      height 120px
      display inline-block
      margin 40px
    .download
      display inline-block
      width 760px
      vertical-align top
      padding-top 60px
      border-left 1px dot-dash #22a7ea
      .tips
        color #22a7ea
        font-size 16px
        font-weight bold
        span
          color #ff8a00
      .down-btn
        margin 40px 0 30px 200px
        a
         width 200px
         height 40px
         display inline-block
         color #22a7ea
         border 1px solid #22a7ea
         border-radius 5px
         line-height 40px
         text-align center




