.Pcontract{
  width: 1200px;
  margin: 100px auto 0 auto;
  background: #fff;
  overflow:hidden
}

.Pcontract>.signing>#textInfo{
  clear:both;
  padding: 30px 0;
  color:red;
  font-size:12px;
  width: 100%;
  text-align: center;
  border: none;
}
.Pcontract>.signing{
  clear: both;
  height: 940px;
  border-top: 1px solid #ddd;


}


.focus{
  text-align: center;
  line-height: 72px;
  display: block;
  font-size: 32px;
  background: #4091fb !important;
  border-radius: 50%;
  color: #fff;
}



/* 分页样式 */

.sign_left{
  /* margin-left: 160px; */
  width: 220px;
  height:822px;
  float: left;
}
#top{
  width: 47px;
  height: 20px;text-align: center;
  background: #0e90d2;
  margin-bottom: 36px;
}
#bottom{
  width: 47px;
  height: 20px;text-align: center;
  background: #0e90d2;
  margin-top: 36px;
}

.pagination {
  position: relative;
  top: 5px;
  float:right;
}
.pagination li a{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: block;
  background:#dddddd;
  text-align: center;
  line-height: 35px;
  color: #666;
  margin-bottom: 3px;
  margin-top: 3px;
}
.pagination li:after
{
  content:"";
  font-weight:bold;
  border: 1px dashed #999;
  margin-left: 15px;
}
.pagination li:nth-child(11):after
{
  content:"";
  font-weight:normal;
  border: none;
  display: block;
  margin-top: -10px;
}
.pagination li a:hover{
  background:#0E90D2;
  color: #fff;
}
.pagination li.active a{
  background:#0E90D2;
  color:#fff;
}
.pagination li{
  margin-left: 6px;
}
.pagination p>a{
  color: #fff;
}
.pagination li.active a{
  background:#0E90D2;
  color:#fff;
}

/* 渲染合同样式 */
.sign_center{
  width: 595px;
  height: 822px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  /*overflow-y: scroll;*/
  margin-top: 8px;
  margin-left: 40px;
}
/* 渲染合同图片 */
.contractImg{
  width: 100%;
}
.contractImg li{
  /* height: 844px; */
  box-sizing: border-box;
  font-size: 0;
}
.contractImg li img{
  width: 100%;
}

/* 多位置签署样式 */
.sign_right{
  float: left;
  margin-left: 35px;
}
.sign_right h1{
  font-weight: normal;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 22px;
}
.sign_right h2{
  font-weight: normal;
  font-size: 14px;
  color: #e82f34;
}
.more dl{
  width: 138px;
  height: 138px;
  border: 1px solid #4091fb;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.more dl dd:nth-child(1){
  margin-top: 30px;
  color: #666;
}
.more dl dd:nth-child(2){
  color: #666;
}
.more dl dd:nth-child(4){
  margin-top: 16px;
  background:#4091fb;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
}
.more dl dd{
  text-align: center;
  line-height: 30px;
  height: 30px;
}


