.Payments{
    clear: both;
    width: 1200px;
    margin: 20px auto;
    background: #fff;
    height: 1000px;
    /* overflow-y: scroll; */
}
 /*步骤条样式开始  */
 .step{
    width: 890px;
    margin: 0 auto;
    height:120px;
    padding-top: 40px;
    padding-bottom: 30px;
}

 .step ul li{
    float: left;
    width: 72px;
    height: 72px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    padding: 5px;
    margin:0px 5px 0 5px;
}
.step ul li>i{
    text-align: center;
    line-height: 72px;
    display: block;
    font-size: 32px;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
}
.step ul li> b{
  margin-top: 14px;
  text-align: center;
  display: block;
  font-weight: normal;
  color: #ccc;
}
.step ul li.active{
  border-color: #00a7e7;
}
.step ul li.active i{
  background: #00a7e7;
}
.step ul li.active b{
 color: #00a7e7;
}
.step ul p{
    float: left;
    border-bottom:1px dashed #ccc;
    width: 60px;
    height: 1px;
    margin-top: 40px;
}


/* 步骤条状态样式 结束*/
.productes{
    clear: both;
}
.productes>.title{
    padding-top: 25px;
    border-top:1px solid #ddd;
    padding-left: 15px;
}
.centerOne{
    width: 850px;
    height: 370px;
    background: #fafafa;
    margin: 0 auto;
    /* padding: 20px; */
}
.success{
    display: flex;
    margin: 40px auto 0 auto;
    width: 420px;

}
.success p:nth-child(2){
    padding-top: 40px;
    color: #22a7ea;
    padding-left: 30px;
    font-size:20px ;
}
.successInfo{
    background: #fff;

}
.successInfo .hint {
    width: 600px;
    font-size:14px;
    margin: 32px auto;
    color: #22a7ea;
}
.successInfo .cue {
    width: 360px;
    font-size:12px;
    margin: 22px auto;
    color: #e40f2b;
}
.firsrCheck {
     display: block;

     padding-bottom:25px;
}
.firsrCheck span{
    margin-right: 20px;
    font-size:14px;
    font-family:"微软雅黑";
    color: #424242;
     width: 150px;
     display: inline-block;
    text-align: right;

}
.secondCheck {

    padding-bottom:25px;
}
.secondCheck p{
    margin-right: 18px;
    font-size:14px;
    font-family:"微软雅黑";
    color: #424242;
  width: 150px;
  display: inline-block;
  text-align: right;
}
#errorInfo{
    color:red;
    font-size:12px;
    margin: 0 auto;
    width: 200px;
}
