.Enterprises{
  clear: both;
  width: 1200px;
  margin:20px auto;
  background: #fff;
  height: 900px;
  /* overflow-y: scroll; */
}

/*步骤条样式开始  */
.step{
  width: 890px;
  margin: 0 auto;
  height:120px;
  padding-top: 40px;
  padding-bottom: 30px;
}
/* 步骤条状态样式 */
.step ul li{
  float: left;
  width: 72px;
  height: 72px;
  border: 1px dashed #ccc;
  border-radius: 50%;
  padding: 5px;
  margin:0px 5px 0 5px;
}
.step ul li>i{
  text-align: center;
  line-height: 72px;
  display: block;
  font-size: 32px;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
}
.step ul li> b{
margin-top: 14px;
text-align: center;
display: block;
font-weight: normal;
color: #ccc;
}
.step ul li.active{
border-color: #00a7e7;
}
.step ul li.active i{
background: #00a7e7;
}
.step ul li.active b{
color: #00a7e7;
}
.step ul p{
  float: left;
  border-bottom:1px dashed #ccc;
  width: 60px;
  height: 1px;
  margin-top: 40px;
}


/* products开始 */
.productes{
  clear: both;
}
.title{
  padding-top: 5px;
  border-top:1px solid #ddd;
}
.center{
  width: 850px;
  height: 500px;
  background: #fafafa;
  margin: 0 auto;
  /* padding: 20px; */
}
.container{
  background: #fff;
  text-align: center;
}
.container .first{
  margin-bottom:20px;
}
.container .first span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";

}
.container .secondTitle{
  width: 338px;
  margin-top: 20px;
  margin-left: 35%;
  font-size:12px;
  text-align: initial;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.container .second>span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";
  display: inline-block;
  width: 180px;
  text-align: right;
  display: inline-block;
}
.container .second {
  margin-bottom: 20px;
}
.thirdInfo{
  display: inline-block;
  width: 100px;
  margin-left: -31px;
  font-size:14px;
  font-family:"微软雅黑";
  color: #424242;
}
/* .header-title{
  padding-top: 40px;
  margin-bottom: 55px;
} */
.header-content{
  border-left:4px solid #22a7ea;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tips{
  width: 330px;
  margin-left: 360px;
  font-size:12px;
  text-align: initial;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.header-content p{
  background: #22a7ea;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
}
.edit-btn{
  margin-left:120px;
}
