.Enterprises{
  clear: both;
  width: 1200px;
  margin:20px auto;
  background: #fff;
  height: 900px;
  /* overflow-y: scroll; */
}

/*步骤条样式开始  */


/* products开始 */
.productes{
  clear: both;
}
.title{
  padding-top: 5px;
  border-top:1px solid #ddd;
}
.center{
  width: 850px;
  height: 500px;
  background: #fff;
  margin: 0 auto;
  /* padding: 20px; */
}
.container{
  background: #fff;
  text-align: center;
}
.container .first{
  margin-bottom:20px;
}
.container .first span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";

}
.container .secondTitle{
  width: 338px;
  margin-top: 20px;
  margin-left: 35%;
  font-size:12px;
  text-align: initial;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.container .second>span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";
  display: inline-block;
  width: 180px;
  text-align: right;
  display: inline-block;
}
.container .second {
  margin-bottom: 20px;
}
.thirdInfo{
  display: inline-block;
  width: 100px;
  margin-left: -31px;
  font-size:14px;
  font-family:"微软雅黑";
  color: #424242;
}
/* .header-title{
  padding-top: 40px;
  margin-bottom: 55px;
} */
.header-content{
  border-left:4px solid #4091fb;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tips{
  width: 330px;
  margin-left: 360px;
  font-size:12px;
  text-align: initial;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.header-content p{
  background: #4091fb;
  margin-left: 10px;
  font-size: 18px;
  color: #fff;
}
.edit-btn{
  margin-left:120px;
}
