.batch-download-btn-area{
  position: absolute;
  margin-top:20px;
  margin-left: 15px;
  .batch-download-btn{
    display: block;
    height: 30px;
    padding-left: 20px;
    background: url("/static/images/Common/download-btn.png") no-repeat;
    font-size: 14px;
    color: #4091fb;
    border: none;
    cursor: pointer;
    line-height: 14px;
    span {
      padding-left: 20px;
    }
  }
  .folder-download-btn{
    display: block;
    height: 30px;
    padding-left: 20px;
    background: url("/static/images/Folder/folder-sm.png") no-repeat;
    font-size: 14px;
    color: #4091fb;
    border: none;
    cursor: pointer;
    line-height: 14px;
    span {
      padding-left: 20px;
    }
  }
}
