.Top{
    width: 100%;
    height: 80px;
    background:#4091fb;
    overflow:hidden;
}
.nav{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    overflow:hidden;
}
.nav .logo{
    float: left;
    margin-right: 40px;
}
.nav .logo img{
    margin-top: 18px;
}
.nav ul{
    margin-left: 80px;
    line-height: 78px;
}
.nav ul li{
    float: left;
    padding: 0 22px 0 22px;
}
#ul li:hover{
   border-bottom: 3px solid red;
}
.nav ul li a{
    color: #fff;
}
.nav .btns{
    margin-left: 5px;
    /* line-height: 80px; */
}
.nav .btns li{
    float: left;
    width: 102px;
    height: 60px;
}
.nav .btns li:nth-child(1){
    float: left;
    width: 90px;
    height: 44px;
    background: #fff;
    line-height: 44px;
    border-radius: 5px;
    text-align: center;
    margin-top: 17px;
    margin-right: 24px;
}
.nav .btns li:nth-child(2){
    float: left;
    width: 90px;
    height: 44px;
    background: #fff;
    line-height: 44px;
    border-radius: 5px;
    text-align: center;
    margin-top: 17px;
}
.nav .btns li:nth-child(1) a{
    color: #4091fb;
}
.nav .btns li:nth-child(2) a{
    color: #4091fb;
}
.nav .btns li:nth-child(3){
    width: 114px;
    float: left;
    line-height: 80px;
    margin-left: 100px;
    text-align: center;
}
.nav .btns li:nth-child(3) img{
    vertical-align:middle;
    line-height: 80px;
}
.nav .btns li:nth-child(3) a{
    color: #fff;
    font-size: 16px;
    margin-left:4px;
}

.nav .btns li:nth-child(4){
    float: left;
    line-height: 50px;
    text-align: center;
    margin-top: -45px;
}
.nav .btns li:nth-child(4) img{
    vertical-align:middle;
}
.nav .btns li:nth-child(4) a{
    color: #fff;
    font-size: 16px;
}

#dloa{
    margin-left: 30px;
}

.upload-dilog{
    width:656px;
    height:330px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    border-radius:10px;
    background:#fff;;
    background-size:100% 100%;
    z-index:2000
  }
   .upload-dilog .leftDilog{
      float: left;
      width:252px;
      height:191px;
      margin-left:63px;
      margin-top:30px;
      background-size:100% 100%;

   }
    .upload-dilog .leftDilog .upload-demo{
       width:252px !important;
      height:191px ;
    }
   .upload-dilog .rightDilog{
      float: left;
      width:252px;
      height:191px;
      margin-left:30px;
      margin-top:30px;
      background-size:100% 100%;
   }
   .upload-dilog-close{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    background: #fff;
    color: #000;
   }
