
.modal{
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-box{
  width:300px;
  height: 220px;
  background-color: #fff;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border-radius: 5px;
}

.modal-body{
  padding: 20px;
}

.modal-body h4{
  font-weight: normal;
  color: #333;
  animate-duration: 1s;    //动画持续时间
  animate-delay: 1s;    //动画延迟时间
  animate-iteration-count: 1;    //动画执行次数
}

