.ContractInfos{
    .main{
        width: 1200px;
        /* height: 800px; */
        margin: 5px auto;
        background: #fff;
        .first{
            height: 60px;
            padding-left: 28px;
            border-bottom: 1px solid #ccc;
        }
        .first span:nth-child(1){
            font-size: 18px;
            font-weight: bold;
            color: #666;
        }
        .second{
            line-height: 58px;
            border-bottom: 1px solid #ccc;
            height: 96px;
        }
        .second .pic {
            padding: 23px 0 8px 15px;
            float: left;
        }
        .second .text{
            padding: 23px 50px 0 0 ;
            float: right;
        }
    
    }
    .text span{
        color: #4091fb;
    }
    .text strong{
        color: #666;
        font-weight: normal;
    }
    .three{
        border-bottom: 1px solid #ccc;
        padding-bottom: 26px;
    }
    .three .details{
        padding-top: 26px;
    }
    .three .details a {
        color: #4091fb;
    }
    .three .details strong:nth-child(1){
        padding-left: 28px;
        font-weight: normal;
    }
    .three .details span:nth-child(2){
        color: #666;
    }
    .three .details a:nth-child(3){
        padding-left: 41px;
    }
    .three .details a:nth-child(4){
        padding-left: 20px;
        padding-right: 41px;
    }
    .three .details strong:nth-child(5){
        padding-left: 28px;
        font-weight: normal;
    }
    .three .details strong:nth-child(7){
        padding-left: 41px;
        font-weight: normal;
    }
    .three .pics{
        padding-top: 20px;
        padding-left: 15px;
    }
    .el-table--scrollable-x .el-table__body-wrapper{
        overflow: hidden!important;
    }
} 



