.PaySuccesses{
  position:relative;
  .PaySuccesses-main{
    width: 1200px;
    margin: 20px auto;
    position: relative;
    min-height: 630px;
    background:#fff;
    .mascot{
      padding-top: 80px;
      width: 220px;
      margin:0 auto;
      img{
        width: 215px;
        height: 355px;
        padding-bottom: 20px;
      }
      h2{
        color: #4091fb;
        text-align: center;
      }

    }
    .PaySuccesses-info{
      clear: both;
      overflow:auto;
      position: relative;
      width: 400px;
      margin: 0 auto;
      padding-top: 20px;
     .list{
       .list-item{
         font-size: 16px;
         text-align: left;
         color: #666;
         margin-bottom: 10px;
         span{
           display: inline-block;
           width: 100px;
         }
         b{
           display: inline-block;
           width: 200px;
           text-align: left;
         }
       }
     }
    }
    .PaySuccesses-operate{
      clear: both;
      overflow:auto;
      position: relative;
      width: 400px;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
