.Completions{
    clear: both;
    width: 1200px;
    margin: 20px auto;
    background: #fff;
    height: 820px;
    /* overflow-y: scroll; */
}



/* 步骤条状态样式 结束*/
.container{
    clear: both;
    padding-top: 58px;
}
.title{
    padding-top: 5px;
    border-top:1px solid #ddd;
    padding-left: 10px;
}
.success{
    display: flex;
    margin: 0 auto;
    width: 407px;
    padding-bottom: 40px;
}
.success p:nth-child(2){
    padding-top: 30px;
    color: #4091fb;
    padding-left: 30px;
  font-weight: bolder;
}
.successInfo{
    background: #fff;

}
.successInfo p {
    width: 394px;
    font-size:14px;
    margin: 47px auto;
    color: #4091fb;
}
.centerOne{
    width: 770px;
    background: #fafafa;
    margin: 0 auto;
    padding: 20px;
}
.center{
    background: #fff;
    padding: 20px;
}
.first{
    width: 444px;
    height: 256px;
    background: url('/static/images/Confirmation/Completion/one.png');
    background-size:100% 100%;
    display: flex;
    float: left;
}
.first dl{
    padding:58px 20px 0 30px;
    width: 80px;
}
.first dl dd{
    color:#666666;
    font-size: 14px;
    font-family:"微软雅黑";
    padding-bottom: 20px;
}
.first ul{
    padding-top: 50px;
}
.first ul li{
    font-size:14px;
    font-family:"微软雅黑";
    color: #424242;
    line-height: 30px;
     width: 280px;
    text-align: left;

}

.twoProuct{
    width:248px;
    height:256px;
    background: url('/static/images/Confirmation/Completion/two.png');
    background-size:100% 100%;
    float: left;
    margin-left: 30px;
    text-align: center;
}
.two>p{
    margin-top: 52px;
}
