.batchInfos{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    overflow:hidden
}

/* 步骤条状态样式 */

.step{
  width: 890px;
  margin: 0 auto;
  height:120px;
  padding-top: 40px;
  padding-bottom: 30px;

}
.step ul li{
    float: left;
    width: 72px;
    height: 72px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    padding: 5px;
    margin:0px 5px 0 5px;
}
.step ul li>i{
    text-align: center;
    line-height: 72px;
    display: block;
    font-size: 32px;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
}
.step ul li> b{
  margin-top: 14px;
  text-align: center;
  display: block;
  font-weight: normal;
  color: #ccc;
}
.step ul li.active{
  border-color: #00a7e7;
}
.step ul li.active i{
  background: #00a7e7;
}
.step ul li.active b{
 color: #00a7e7;
}
.step ul p{
    float: left;
    border-bottom:1px dashed #ccc;
    width: 60px;
    height: 1px;
    margin-top: 40px;
}
/* 步骤条状态样式 */
/* 步骤条状态样式 结束*/
/* 分页样式 */
.signing{
    clear: both;
    height: 800px;
}

.sign_left{
    margin-left: 110px;
    width: 60px;
    float: left;
}
#top{
    width: 47px;
    height: 20px;text-align: center;
    background: #ccc;
    margin-bottom: 36px;
}
#bottom{
    width: 47px;
    height: 20px;text-align: center;
    background: #ccc;
    margin-top: 36px;
}

.pagination {
    position: relative;
    top: 80px;
}
.pagination li a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    background:#dddddd;
    text-align: center;
    line-height: 35px;
    color: #666;
    margin-bottom: 3px;
    margin-top: 3px;
}
.pagination li:after
{
    content:"";
    font-weight:bold;
    border: 1px dashed #999;
    margin-left: 15px;
}
.pagination li:nth-child(11):after{
    content:"";
    font-weight:none;
    border: none;
    display: block;
    margin-top: -10px;
}
.pagination li a:hover{
    background:#0E90D2;
    color: #fff;
}
.pagination li.active a{
    background:#0E90D2;
    color:#fff;
}
.pagination li{
    margin-left: 6px;
}
.pagination p>a{
    color: #fff;
}
.pagination li.active a{
    background:#0E90D2;
    color:#fff;
}
/* 渲染合同样式 */
.sign_center{
    width: 656px;
    height: 820px;
    border: 1px solid #ccc;
    float: left;
    overflow-y: scroll;
    margin-top: 80px;
    margin-left: 25px;
}
/*得到合同图片，并渲染到页面*/

/* 提交样式 */
.sign_right{
    margin-top: 80px;
    float: left;
    margin-left: 22px;
    overflow: auto;
    height: 841px;
}
/*定义滚动条轨道 内阴影+圆角*/
.sign_right ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #fff ;
  }
  /*定义滑块 内阴影+圆角*/
  .sign_right ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgb(149, 196, 240);
  }
  .sign_right::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgb(149, 196, 240);
  }
.sign_right .right_title{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
.sign_right .input_title{
    height: 46px;
    line-height: 46px;
    font-size: 14px;
}
.sign_right .input_box{
    width: 240px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: #F5F5F5;
  }

  /* 12 */
  .Pcontract{
    width: 1200px;
    margin: 5px auto;
    background: #fff;
    overflow:hidden
}
