.contents{
  clear: both;
  width: 1200px;
  margin:20px auto;
  background: #fff;
  height: 800px;
}
.Enterprises{
  clear: both;
  width: 1200px;
  margin: 20px auto;
  background: #fff;
  height: 800px;
  /* overflow-y: scroll; */
}


/* products开始 */
.productes{
  clear: both;

}

.center{
  width: 850px;
  height: 310px;
  background: #fafafa;
  margin: 0 auto;
  /* padding: 20px; */
}
.container{
  background: #fff;
  /* text-align: center; */
}
.container .first{
  margin-bottom:20px;
}
.container .first span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";

}
.container .secondTitle{
  width: 338px;
  margin-top: 20px;
  margin-left: 35%;
  font-size:12px;
  text-align: initial;
  color: #a9a9a9;
  margin-bottom: 10px;
}
.container .second>span{
  margin-right: 20px;
  font-size:14px;
  font-family:"微软雅黑";
}
.container .second {
  margin-bottom: 20px;
}
.thirdInfo{
  display: inline-block;
  width: 100px;
  margin-left: -31px;
  font-size:14px;
  font-family:"微软雅黑";
  color: #424242;
}
.content-title ul li{
  text-align: center;
}
.personInfo{
  text-align: center;
}
.personInfo>span{
  line-height: 40px;
  color:#4091fb;
  font-size: 16px;
}

.content-img{margin-top: 40px; margin: 50px;}
.content-info{padding-top: 30px;padding-left: 20px;}
.content-info>b{color: #4091fb;font-size: 15px;font-weight: bold; font-family:"微软雅黑";}
.content-info>span{color:red;font-size: 15px;font-weight: bold; font-family:"微软雅黑";}
.edit-btn{margin-left: 50px;}
.title-content{text-align: center;padding-top: 20px;}
.line{color:#4091fb;}


.line{border-left:3px solid #4091fb;width: 90px;}

.content-title ul{width:805px;background: url("../../../../../static/images/banner5.png") no-repeat;margin: 0 auto; }
.content-title ul li{height:40px;display: inline-block;line-height: 40px;font-size: 14px; }
.content-title ul li span{color: #fff; z-index: 999;display: inline-block;}
.content-title ul li b{padding-left: 15px;color: #fff; }
.content-title ul li:nth-child(1){width: 276px; }
.content-title ul li:nth-child(2){ width: 230px;}
.content-title ul li:nth-child(3){width: 260px; }

.personInfo span{
  display: block;
  font-family:"微软雅黑";
  font-size:12px;
}
.personInfo span:nth-child(1){
  color: red;
}
.header-title-4{
  /* width: 740px; */
  height:370px;
  padding: 10px;
  border-radius: 5px;
  margin-top:5px;
}
.personUpload {
  background-size:100% 100%;
}
.personUpload span{
  width: 4px;
  height: 20px;
  background: #4091fb;
  float: left;
}
.personUpload-p{
  padding: 20px 5px 0px 12px;
}
.personUpload-p>b{
  float: left;
  padding-left: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #4091fb;
  font-weight: normal;
}
.leftInfo{
  width: 420px;
  height: 210px;
  border:1px solid #cae3fc;
  border-radius:5px;
  /* float: left;
  margin-top: 55px;
  margin-left: 50px; */
  background: url('../../../../../static/images/Credentials/Personal/Pupload/xbg.png');
  background-size: 100%,100%;
  margin:0 auto;
  margin-top:55px;
}
.leftInfo h2{
  font-style: normal;
  color: #999;
  font-size:16px;
  padding: 35px 0 27px 23px;
  border-bottom:1px solid #ccc;
}
.leftInfo>p{
  padding: 25px 0 0 23px;
  text-align: left;
}
.textInfo{
  clear: both;
  color:red;
  padding-top: 52px;
  font-size: 14px;
  text-align: center;
  /* padding-bottom: 70px; */
}
.btns{
  text-align: center;

}
