.Accounts,.NoReals
  .main
    width 1200px
    margin 20px auto
    background #fff
    min-height 600px
    position relative
    .container
      text-align left
      .tap
        width 630px
        margin 0 auto 40px auto
        padding-top 30px
        div
          width 300px
          cursor pointer
          -webkit-box-shadow  none
          box-shadow none
          line-height 48px
          text-align center
          display: inline-block
          vertical-align: bottom
        .btn-active
          background #22a7ea
          color #fff
          height 48px
        .btn-default
          background #fff
          color #22a7ea
          border 1px solid #22a7ea
          height 46px
      .content
        .content-body
          width 600px
          float left
          .title
            height 46px
            margin  20px 0 0 15px
            line-height 46px
            padding-left 40px
            color #fff
            font-size 20px;
            padding-top 0 !important
            border-top none !important
          //background url("../../../../static/images/common/title.png") no-repeat
          .left-side
            margin-left 30px
          .common-style
            margin-top 30px
            width 570px
            background #fafafa
            height 300px
            position relative
            .card
              position relative
              display inline-block
              width 520px
              height 260px
              background-color #fff
            a.changePassword
              display block
              position absolute
              color #22a7ea
              right 100px
              top 40px
              font-family "微软雅黑 Light"
            .real-name-state
              position absolute
              right 80px
              top 160px
            .card-line
              height 30px
              padding-left 20px
              clear both
              span
              font-size 16px
              color #666
              b
                font-size 16px
                color #666
                font-weight normal
            .right-card-content
              margin 50px 0 0 175px
              .right-line
                position relative
                height 35px
                span
                  font-size 16px
                  color #666
                b
                  font-size 16px
                  color #666
                  font-weight normal
      .sign-management
        clear both
        padding-top 20px
        .title
          height 46px
          margin 20px 0 0 15px
          line-height 46px
          padding-left 40px
          color #fff
          font-size 20px
          border-top none!important
        .sign-content
          margin 20px auto
          width 520px
          .sign-picture
            text-align center
            width 238px
            height 238px
            display inline-block
            margin-right 20px
            cursor pointer
            img
              width 170px
              height 170px
              margin 25px
            span
              text-align center
              display inline-block
              width 220px
              color #22a7ea
              font-size 16px
              padding-right 20px
          .create-seal
            display inline-block
            width 220px
            height 220px
            vertical-align top
            span
              position relative
              display block
              text-align center
              font-size 14px
              top 20px
              color #22a7ea
            b.tips
              position relative
              display block
              top 45px
              color red
              font-size 10px
              text-align center
            input
              position relative
              display block
              top 60px
              left 12px
              width 196px
              height 40px
              border none
              border-bottom 1px solid #ddd
              padding-left 10px
            a
              position relative
              display block
              top 75px
              left 12px
              width 194px
              height 40px
              border 1px solid #22a7ea
              border-radius 4px
              color #22a7ea
              line-height 40px
              text-align center
    .seal-management
      clear both
      padding-top 30px
      .title
        height 46px
        margin 20px 0 0 15px
        line-height 46px
        padding-left 40px
        color #fff
        font-size 20px
        border-top none !important
        padding-top  0!important
      .child-account
        .account-list
          width 1200px
          margin-left 60px
          margin-top 20px
          clear both
          height auto
          overflow hidden
          .list-content
            position relative
            display inline-block
            width 355px
            height:250px
            .operate
              position absolute
              top 110px
              right 20px
              width 90px
              a
                width 76px
                text-align center
                line-height 40px
                display inline-block
                border-radius 5px
                margin-bottom 10px
              a.frozen,a.management, a.finish
                color #22a7ea
                border 1px solid #22a7ea
                height 36px
              a.thaw , a.edit
                color #fff
                background-color  #22a7ea
                height 38px
            ul
              margin 50px 20px 0 40px
              li
                height 35px
                span
                  font-size 14px
                  color #333
                b
                  font-weight normal
                  font-size 14px
                  color #666
                  padding-left 20px
                  text-align left
                b.state
                  color #ff8a00
                  font-weight bold
                  font-size 18px
                .template-number
                  color #22a7ea
                  font-size 20px
                  font-weight bold
          .left-plus
            display inline-block
            width 355px
            height:250px
            text-align center
            cursor pointer
            position relative
            vertical-align: top
            i
              margin-top 85px
              font-size 80px
              color #999
              position relative
          .right-content
            float right
            margin-right:20px
            margin-top 40px
            height 600px
            width 600px
            display block
          .question
            height auto
            a.serial-number
              display inline-block
              font-family italic
              width 40px
              height 40px
              text-align center
              font-weight bolder
              border-radius 4px
            b
              font-size 20px
              color #666
              line-height 40px
            p.question-title
              position relative
              top -40px
              left 70px
              font-size 18px
            span.question-answer
             color #666
             position relative
             top -30px
             left 70px
             font-size 14px





