.EditChildAccount,.AddChildAccount,.ActivateChildAccount,.EditChildNoActive
  .main
    width 1200px
    margin 20px auto
    background #fff
    min-height 1100px
    position relative
    .container
      text-align left
      .content
        .content-body
          width 100%
          float left
          .agreement-content
            width 100%
            position relative
            text-align center
          .operate-buttons
            margin-top 60px
            a
             display inline-block
             width 120px
             height 40px
             text-align center
             line-height 40px
             font-size 18px
             border-radius 5px
            button
              border none
              cursor pointer
              display inline-block
              width 120px
              height 40px
              text-align center
              line-height 40px
              font-size 18px
              border-radius 5px
          .quit
             background-color #999
             color #fff
          .submit
            background-color #22a7ea
            color #fff
            margin-left 30px
          .title
            height 46px
            margin  20px 0 0 15px
            line-height 46px
            padding-left 40px
            color #fff
            font-size 20px;
            padding-top 0!important
            border-top none!important
          //background url("../../../../static/images/common/title.png") no-repeat
          .child-template
            width 1100px
            position relative
            clear both
            margin-top 20px
            margin-left auto
            margin-right auto
            background-color #fafafa
            height auto
            padding-top 1px
          .child-template-list
            width 1060px
            margin 20px auto
            background-color #fff
            height auto
            .single-list,.batch-list
              width 520px
              float left
              h3
                color #22a7ea
                margin 20px 0 10px 20px
            .no-template
              clear both
              margin 0 auto
              padding-top 40px
              padding-bottom 20px
              text-align center
          .list-item
            padding 20px
          .fill-background
            clear both
            width 100%
            position relative
            height 20px
            background-color #fafafa
          .new-child-account
            position relative
            left 210px
            top -20px
            font-size 16px
            color #22a7ea
            text-align left
          .border-bottom
            width 100%
            height 1px
            border-bottom 1px solid #ddd
            margin-top: 20px
          .active-account
            margin-top 20px
            margin-left 225px
            display block
            height 900px
            .active-account-tips
              color red
              font-size 14px
              margin 20px auto
              padding-left 30px
              font-weight bold
              text-align center
            .active-account-contract-img
              display inline-block
              img
                border 1px solid #ddd
                width 594px
                height 844px
            .scan-code
              display inline-block
              margin-left 20px
              vertical-align top
              .wechat-img
                 width 120px
                 height 120px
                 border 1px solid #22a7ea
              .wechat-scan-tips
                width 120px
                text-align center
                color #22a7ea
                font-size 14px
            // .active-button
            //   clear both
            //   width 150px
            //   padding-bottom 30px
            //   margin 20px auto
            //   a.sure-active
            //     display block
            //     width 150px
            //     height 40px
            //     text-align center
            //     line-height  40px
            //     background-color #22a7ea
            //     font-size 16px
            //     color #fff
            //     border-radius 5px
            //     margin 0 auto
          .account-fill
            position relative
            clear both
            margin-top 20px
            width 1100px
            margin-left auto
            margin-right auto
            background-color #fafafa
            overflow: hidden
            padding-top 1px
            border 1px solid #eee
            border-radius 5px
            .show-info-list
              position relative
              width 1060px
              margin 20px
              background-color #fff
              padding-top 20px
              .info-list
                width 500px
                float left
                margin-bottom 40px
              .empty-template
                text-align center
                margin-top 60px
                p.tips
                  color #999
        .distribution-template
          margin-top 30px



