.contents{
    clear: both;
    width: 1200px;
    margin:20px auto;
    background: #fff;
    height: 800px;
}
.Enterprises{
    clear: both;
    width: 1200px;
    margin: 20px auto;
    background: #fff;
    height: 800px;
    /* overflow-y: scroll; */
  }



  /* products开始 */
  .productes{
    clear: both;
  }

  .center{
    width: 940px;
    height: 310px;
    background: #fafafa;
    margin: 0 auto;
    /* padding: 20px; */
  }
  .container{
    background: #fff;
    text-align: center;
  }
  .container .first{
    margin-bottom:20px;
  }
  .container .first span{
    margin-right: 20px;
    font-size:14px;
    font-family:"微软雅黑";
    color: #424242;
  }
  .container .secondTitle{
    width: 338px;
    margin-top: 20px;
    margin-left: 35%;
    font-size:12px;
    text-align: initial;
    color: #a9a9a9;
    margin-bottom: 10px;
  }
  .container .second>span{
    margin-right: 20px;
    font-size:14px;
    font-family:"微软雅黑";
  }
  .container .second {
    margin-bottom: 20px;
  }
  .thirdInfo{
    display: inline-block;
    width: 100px;
    margin-left: -31px;
    font-size:14px;
    font-family:"微软雅黑";
    color: #424242;
  }
  .content-title ul li{
      text-align: center;
  }
  .personInfo{
      text-align: center;
  }

  .content-img{margin-top: 40px; margin: 50px;}
  .content-info{padding-top: 30px;padding-left: 20px;}
  .content-info>b{color: #4091fb;font-size: 15px;font-weight: bold; font-family:"微软雅黑";}
  .content-info>span{color:red;font-size: 15px;font-weight: bold; font-family:"微软雅黑";}
  .edit-btn{margin-left: 50px;}
  .title-content{text-align: center;padding-top: 20px;}
  .line{color:#4091fb;}


  .line{border-left:3px solid #4091fb;width: 90px;}

  .content-title{margin-left: 20px;margin-top: 30px;}


/*.content-title ul{width:805px;background: url("../../../../../static/images/banner5.png") no-repeat;margin: 0 auto; }*/
.content-title ul li{height:40px;display: inline-block;line-height: 40px;font-size: 14px; }
.content-title ul li span{color: #fff; z-index: 999;display: inline-block;}
.content-title ul li b{padding-left: 15px;color: #fff; }
.content-title ul li:nth-child(1){width: 240px; }
.content-title ul li:nth-child(2){ width: 263px;}
.content-title ul li:nth-child(3){width: 240px; }

  .personInfo1 span{
    display: block;
    font-family:"微软雅黑";
    font-size:12px;
  }
  .personInfo span:nth-child(1){
    color: red;
    display: none;
  }
  .header-title-2{
      width: 860px;
      height:420px;
      padding: 10px;
      background: #fafafa;
      border-radius: 5px;
      margin-top:5px;
  }
  .personUpload {
    background: url('/static/images/Credentials/Personal/Pupload/xbg.png');
    background-size:100% 100%;
  }
  .personUpload span{
      width: 5px;
      height: 15px;
      background: #4091fb;
      float: left;
  }
  .personUpload h6{
      padding: 32px 5px 0 65px;
  }
  .personUpload h6 b{
      float: left;
      padding-left: 5px;
  }
  .leftImg{
      width: 290px;
      height: 185px;
      border-radius:5px;
      clear:both;
      float: left;
      margin-top: 32px;
      margin-left: 110px;
      background: url('../../../../../static/images/Credentials/Personal/Pupload/handHeld.png');
      background-size:100% 100%;
      position: relative;
  }
  .leftImg .upload_warp p{
    position: absolute;
    left: 45%;
    top: 30px;
  }
  .rightImg{
    position: relative;
    width: 290px;
    height: 185px;
    border:1px solid #cae3fc;
    border-radius:5px;
    float: left;
    margin-top: 32px;
    margin-left: 51px;
    background: url('/static/images/Credentials/Personal/Pupload/hold.png');
    background-size:100% 100%;
}
.rightImg .upload_warp p{
  position: absolute;
  left: 45%;
  top: 30px;
}
.textInfo{
    clear: both;
    color:red;
    padding-top: 52px;
    font-size: 14px;
    text-align: center;
    padding-bottom:126px;
}
.btns{
    text-align: center;

}

/* 上传证件照样式 */
.upload_warp_img_div_del {
  position: absolute;
  top: 6px;
  width: 16px;
  right: 4px;
}

.upload_warp_img_div_top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 30px;
  text-align: left;
  color: #fff;
  font-size: 12px;
  text-indent: 4px;
}

.upload_warp_img_div_text {
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload_warp_img_div img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.upload_warp_img_div {
  position: relative;
  height: 100px;
  width: 120px;
  border: 1px solid #ccc;
  margin: 0px 30px 10px 0px;
  float: left;
  line-height: 100px;
  display: table-cell;
  text-align: center;
  background-color: #eee;
  cursor: pointer;
}

.upload_warp_img {
  border-top: 1px solid #D2D2D2;
  padding: 14px 0 0 14px;
  overflow: hidden
}

.upload_warp_text {
  margin-bottom: 3px;
  font-size: 14px;
  text-align: center;
}

.upload_warp_left {
  width: 290px;
  height: 183px;
  border: 1px dashed #999;
  border-radius: 4px;
  cursor: pointer;
}

.upload {
  border: 1px solid #ccc;
  background-color: #fff;
  width: 650px;
  box-shadow: 0px 1px 0px #ccc;
  border-radius: 4px;
}
